node_modules
packages/*/node_modules
packages/e2e/*
!packages/e2e/package.json
*.sqlite
.git
.github
.gitignore
.env*
design
examples
shareholder-overview
*.md
!README.md
**/coverage
**/__tests__
**/*.test.ts
**/*.test.tsx
